target/
build/
.gradle/
gradle/
gradlew
gradlew.bat
build.gradle
settings.gradle
.idea/
.vscode/
*.iml
*.log
*.tmp
.DS_Store
Thumbs.db
.github/
.devcontainer/
k8s/
.gitpod.yml
docker-compose.yml
conf.d/
README.md